body{
  margin: 0;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;

  /* фонове зображення */
  background-image: url("team.jpg"); 
  background-size: cover;       /* масштабування по всій сторінці */
  background-repeat: no-repeat; 
  background-attachment: fixed;
  color: #fff;                  
}

a{
  color: #ffffff; /*посилання*/
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
