/* Заголовок */

body {
  margin: 0;
  box-sizing: border-box;
  background: #f8f6f0;
}

.defaultText {
  font-size: 30px;
}

.headerText {
  text-align: center;
  font-size: 40px;
  color: #2b2b2b;
}

.site-header {
  background: #aab7a6;
  text-align: center;
  padding: 4rem 1rem;
  box-sizing: border-box;
}
.site-header h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  color: #2b2b2b;
  margin: 0;
}

.site-nav ul {
  display: flex;
  justify-content: center;
  gap: 7rem;
  margin: 0;
  padding: 1rem 0;
  list-style: none;
}

.site-nav a {
  text-decoration: none;
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  color: #2b2b2b;
  font-weight: 500;
  transition: color 0.3s ease;
}

.site-nav a:hover,
.site-nav a.active {
  color: #5a8c6f;
}

/* Основний макет */
.layout {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 2fr;
  justify-content: space-between;
}

/* Ліва колонка */
.left-column {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.listText {
  padding: 10px;
}

/* Права колонка*/
.right-column {
  display: flex;
  flex-direction: column;
}

#news {
  padding: 1rem;
  flex-grow: 1;
  box-sizing: border-box;
}

#news article {
  margin-bottom: 1rem;
  border-left: 4px solid #5a8c6f;
  padding-left: 0.8rem;
}

#news h2 {
  margin-top: 0;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  color: #2b2b2b;
  margin: 0;
}

/* Футер */
footer {
  background: #aab7a6;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  height: 80px; 
  display: flex;
  align-items: center;
  justify-content: center;
}